# Sensitive environment variables
.env
config.ini
Project_Tree.txt

# directory
ADB/
Data/logs/
Data/History/
Data/scheduled_tasks.db
Data/learning_data
Data/faiss_index
Data/command_aliases.json
Data/file_index.db
Data/graph_memory.db
Data/chat_sessions
